/*-----------------------------------------------------------------------------------
    Responsive Breakpoints
-----------------------------------------------------------------------------------*/

/* 1. Extra Large Desktop (1200px to 1500px) */
@media (min-width: 1200px) and (max-width: 1400px) {
    .hero-category {
        height: 312px;
    }
}

/* 2. Standard Desktop (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-grid {
        gap: 10px;
    }

    .navbar ul li a {
        padding: 5px;
    }

    .hero-category {
        display: none;
    }

    .hero-grid {
        display: block;
    }
}

/* 3. Tablet Device (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .btn {
        padding: 5px 20px;
        width: 100%;
    }

    .hero-category {
        display: none;
    }

    .hero-grid {
        display: block;
    }

    .dashboard-area .main-dashboard {
        padding-left: 0 !important;
    }
}

/* 4. Large Mobile (480px to 767px) */
@media (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px;
    }

    .btn {
        padding: 5px 20px;
        width: 100%;
    }

    .hero-category {
        display: none;
    }

    .hero-grid {
        display: block;
    }

    .dashboard-area {
        display: block;
    }

    .dashboard-area {
        display: block !important;
    }

    .dashboard-area .main-dashboard {
        padding-left: 0 !important;
        margin-top: 10px;
    }
}

/* 5. Small Mobile (Up to 479px) */
@media (max-width: 479px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .dashboard-area .single-panel {
        padding: 10px;
    }

    .dashboard-area .main-dashboard {
        padding-left: 0;
    }

    .btn {
        padding: 5px 0px;
        width: 100%;
    }

    .dashboard-area {
        display: block !important;
    }

    .hero-category {
        display: none;
    }

    .hero-grid {
        display: block;
    }

    .section-title h2 {
        font-size: 24px;
    }
.dashboard-area .sidebar ul li {
    border: 1px solid #ebebeb;
}
}

/* 6. All Mobile Devices (Default for Mobile) */
@media (max-width: 767px) {
    .dashboard-area .sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dashboard-area .sidebar ul li a {
        padding: 8px !important;
    }

    .dashboard-area .sidebar ul li a.active {
        padding-left: 0;
    }
}