/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .hero-category {
        height: 312px;
    }
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-grid {
        gap: 10px;
    }

    .navbar ul li a {
        padding: 5px;
    }

    .hero-category {
        display: none;
    }

    .hero-grid {
        display: block;
    }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .btn {
        padding: 5px 20px;
        width: 100%;
    }

    .hero-category {
        display: none;
    }

    .hero-grid {
        display: block;
    }
}

/* small mobile :320px. */
@media (max-width: 767px) {
    .section-title h2 {
        font-size: 24px;
    }

    .feature-category {
        padding: 5px 0 !important;
    }

    .feature-category-grid .owl-nav {
        display: none;
    }

    .section-title {
        margin-bottom: 10px;
    }

    .single-product span.btn-content i {
        display: none;
    }

    .dashboard-area {
        display: block;
    }

    .dashboard-area {
        display: block !important;
    }

    .dashboard-area .main-dashboard {
        margin-top: 10px;
    }

    .dashboard-area .single-panel {
        padding: 10px;
    }

    .dashboard-area {
        display: block !important;
    }

    .dashboard-area .sidebar ul li {
        border: 1px solid #ebebeb;
    }

    .dashboard-area .sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dashboard-area .sidebar ul li a {
        padding: 8px !important;
    }

    .dashboard-area .sidebar ul li a.active {
        padding-left: 0;
    }

    .single-product h6 {
        font-size: 12px;
        margin: 0;
        height: 30px;
    }

    .single-product span {
        font-size: 15px;
    }
    .shop_page button {
	padding: 5px !important;
	font-size: 10px;
}
.single-product .btn.buy-now-btn {
	padding: 0;
	line-height: 1;
	border: 1px solid !important;
	border-radius: 5px;
}
.single-product .btn.buy-now-btn span.btn-content span {
	font-size: 12px;
}
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px;
    }

    .hero-category {
        display: none;
    }

    .hero-grid {
        display: block;
    }


    .hero-category {
        display: none;
    }

    .hero-grid {
        display: block;
    }

    .section-title h2 {
        font-size: 24px;
    }



    .btn-track {
        margin-left: 0;
        margin-top: 10px;
    }

}